<% layout('layouts/boilerplate') %>

<h1>All Tickets</h1>
<div>
  <a href="/tickets/new">Add New Ticket</a>
</div>
<ul>
  <% for (let ticket of tickets) {%>
  <li>
    <a href="/tickets/<%= ticket._id %>"><%= ticket.title %></a>
  </li>
  <% } %>
</ul>
