<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ticket: <%= ticket._id %></title>
  </head>
  <body>
    <h1>Ticket: <%= ticket._id %></h1>

    <a href="/tickets/<%= ticket._id %>/edit">Edit ticket</a>
    <a href="/tickets">See All Tickets</a>
  </body>
</html>
