<% layout('layouts/boilerplate') %>

<h1>Ticket: <%= ticket._id %></h1>
<form action="/tickets/<%= ticket._id %>?_method=DELETE" method="POST">
  <button>Delete Ticket</button>
</form>
<div>
  <a href="/tickets/<%= ticket._id %>/edit">Edit ticket</a>
</div>
<div>
  <a href="/tickets">See All Tickets</a>
</div>
